<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkKsMrisC0ZVkWN-KtdBQ9oWLL2hW_ktL8UA&s" alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="">Saiu a nova versão do angular 19.2.5</a></h1>
    </div>
    <div class="big-card__description">
        <a href="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus.</p>	
        </a>
    </div>
</div>